@model Newtonsoft.Json.Linq.JArray

<body>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h3>Welcome, @User.Identity.Name</h3>

        <p>
            @foreach (var claim in Context.User.Claims)
            {
                @if(@claim.Type.EndsWith("role"))
                {
                    <div>Role: <b>@claim.Value</b></div>
                }
                @if(@claim.Type.EndsWith("name"))
                {
                    <div>Name: <b>@claim.Value</b></div>
                }
                
            }
        </p>
        <br>
        <br>
        @Html.ActionLink("Change granted consents", "ChangeConsent", "Items", new {redirectUrl = "/"}, null)
        <br>
        <br>
        <a class="btn btn-lg btn-danger" href="/logout">Sign out</a>
        <br>
        <br>
    }

    else
    {
        <h1>Welcome, anonymous</h1>
        <a class="btn btn-lg btn-success" href="/login">Sign in</a>
    }
</body>